@import "tailwindcss";

/* Uncomment if the Tailwind Catppuccin plugin hasn't been updated to support Tailwind v4. */
/* These are the defaults for Catppuccin Mocha */
/* https://catppuccin.com/ */

@theme {
  --color-ctp-crust: #11111b;
  --color-ctp-mantle: #181825;
  --color-ctp-base: #1e1e2e;
  --color-ctp-surface-0: #313244;
  --color-ctp-surface-1: #45475a;
  --color-ctp-surface-2: #585b70;
  --color-ctp-overlay-0: #6c7086;
  --color-ctp-overlay-1: #7f849c;
  --color-ctp-overlay-2: #9399b2;
  --color-ctp-subtext-0: #a6adc8;
  --color-ctp-subtext-1: #bac2de;
  --color-ctp-text: #cdd6f4;
  --color-ctp-lavender: #b4befe;
  --color-ctp-blue: #89b4fa;
  --color-ctp-sapphire: #74c7ec;
  --color-ctp-sky: #89dceb;
  --color-ctp-teal: #94e2d5;
  --color-ctp-green: #a6e3a1;
  --color-ctp-tellow: #f9e2af;
  --color-ctp-peach: #fab387;
  --color-ctp-maroon: #eba0ac;
  --color-ctp-red: #f38ba8;
  --color-ctp-mauve: #cba6f7;
  --color-ctp-pink: #f5c2e7;
  --color-ctp-flamingo: #f2cdcd;
  --color-ctp-rosewater: #f5e0dc;
}